*, *::before, *::after { box-sizing: border-box }

:root {
  --primary: #21c2e1;
  --text: #292E6A;
  --headline: #070A2B;
  --text-gray: #5D919A;
  --placeholder: #99B5BA;
  --border-color: #CCE8ED;
  --border-hover: #99B5BA;
}

@font-face {
  font-family: Rubik;
  src: url('/fonts/rubik.ttf');
  font-display: auto
}

body {
  background-color: #ffffff;
  color: var(--text);
  font-family: Rubik;
}

.h3 {
  font-size: 1.3rem;
  margin: 1rem 0
}

p {
  margin: 0;
  line-height: 1.5
}